<div class="helpful_knowledge">
	<div class="hk-section-heading">
		<%= image_tag 'helpful_knowledge/icons/educational_video.svg' %>
		<h2 class="title">Educational Videos</h2>
	</div>
	<div class="wrapper">
		<h2 class="title text-center">Coming Soon</h2>
	</div>