<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @portfolio_section.title %>
</p>

<%= link_to 'Edit', edit_portfolio_section_path(@portfolio_section) %> |
<%= link_to 'Back', portfolio_sections_path %>
