
<div class="wrapper wrapper--flex">
	<div class="col--three-margin">
		<%= image_tag 'james-logo.png', style: 'max-width:100%;' %>
	</div>
	<div class="col--twothirds">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quo deleniti, eveniet ipsum animi officia laudantium in optio quibusdam quis ipsa mollitia sequi amet harum quaerat enim temporibus nostrum a iusto nobis praesentium vel!</p>
	</div>
	<div class="col--three-margin with-border">
		<p>10 Scarlett Road,</p>
		<p>TORONTO, ON, M6N 4J6</p>
		<p>Mon - Thu: 8am - 5pm</p>
		<p>Fri: 8am - 1pm</p>
		<p>416.767.4841</p>
		<p>1.877.422.4841</p>
		<p>info@james-signs.com</p>
		<%= image_tag 'women.png', style: 'max-width:100%;'%>
	</div>
	<div class="col--twothirds">
		<form action="">
			<div class="wrapper--flex">
				<input type="text" class="name col--full">
				<input type="text" class="email col--half">
				<input type="text" class="inquire col--half">
				<input type="textarea" class="message col--full">
			</div>
		</form>
	</div>
</div>