<p id="notice"><%= notice %></p>
<div class="form--contained">
	<h1 class="page-heading">Editing <%= @project.title %></h1>
	<hr>
	<%= render 'form', project: @project %>

	<%= link_to 'Back', projects_path, class: 'button button--primary' %>
</div>
