<p id="notice"><%= notice %></p>
<div class="form--contained">
	<h1 class="page-heading">New Project</h1>

	<%= render 'form', project: @project %>

	<%= link_to 'Back', projects_path, class: 'button button--primary' %>
</div>
