
	<div class="modal hidden project-modal" id="project-modal">
	  <span class="close" id="close">✕</span>
  	<% first_picture = @project.pictures.rank(:picture_order).first %>
  	<%= image_tag first_picture.image.url, class: 'feature' %>
		<div class="wrapper--flex">
			<div class="left col--two">
				<h3><%= @project.title %></h3>	
				<p class="modal-desc"><%= @project.description %></p>
			</div>
			<div class="right col--two">
				<div class="thumbnail-section">
					<% @project.pictures.rank(:picture_order).offset(1).each do |picture| %>
						<%= image_tag picture.image.url, class: 'thumbnail' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
