<p id="notice"><%= notice %></p>
<div class="form--contained">
	<h1 class="page-heading">Editing Sub Category</h1>

	<%= render 'form', sub_category: @sub_category %>

	<%= link_to 'Close', sub_categories_path, class: 'button button--primary' %>
</div>
