@import 'generic'

.recent-projects
	img
		:max-width 100%

.services

.idea
	:margin-top 50px
	h3 
		:font-size 24px
		:font-weight bold
		:color $blue
		:text-transform uppercase
	img.photo
		:max-width 100%
		:border 4px solid $blue
.side-crumbs
	:position absolute
	:right 40px
	:top 40px
	:font-style normal
	:text-align right
	:list-style none
	a
		:color white
		:font-size 18px
		:line-height 25px
		:letter-spacing 1.5px
	.current 
		:color $blue
.js-project-group
	:transition 0.5s
.project-nav
	:background lightgrey
	:padding 0 30px
	:font-size 50px
	:text-align right
	:margin-top 20px
	span.page
		:color $blue
		:margin 5px
	span.selected
		:color $gold