// Place all the styles related to the PortfolioSections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'generic'
.portfolio-first
	img
		:width 100%
	p.pf 
		:margin 0
		:padding 0
.portfolio 
	img
		:max-width 100%
		:border 4px solid $blue
	h3
		:text-transform uppercase
		:color $blue
		:font-weight bold
		:font-size 20px
		:margin-top 60px
		:margin-bottom 12px