// Place all the styles related to the PortfolioSections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'generic'
.portfolio-first
	img.pf
		:width 100%
	img.additional-img
		:width 100px
	p.pf 
		:margin 0
		:padding 0
	.additional-photos
		:text-align right
.portfolio, .portfolio-menu
	img
		:display block
		:width 100%
		// :border 4px solid $blue
	.sub_cat_image, .portfolio-image	
		:position relative
		:margin-top 25px
	.overlay 
		:background linear-gradient( rgba(41, 63, 128, 0.5), rgba(41, 63, 128, 0.5) )
		:background-position center top
		:height 100%
		:width 100%
		:top 0
		:left 0
		:position absolute
		:transition 0.5s
		:opacity 0
		&:hover
			:opacity .8
		.port_image
			:opacity 0.8
	h3
		:text-transform uppercase
		:color $blue
		:font-weight bold
		:font-size 20px
		:margin-left 16px
.bread-crumbs
	:background-color $light-grey
	:padding 12px
	:color $blue
	:font-size 15px
	:font-weight bold
	a 
		:color $blue
		:transition 0.5s
		&:hover
			:color $gold
#js_first
	:border-bottom 3px solid $blue
	:padding-bottom 20px
	h3, h5, p 
		:margin 0
		:padding 0
	h5
		:margin-bottom 10px
		:font-size 20px
	.info
		:padding-left 30px
	.js_additional_photos
		:padding-right 30px
	.title-lower
		:color $blue
		:font-weight bold
	.item_number
		:color $gold
		:font-weight bold
